<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
      <link rel="stylesheet" href="../../static/frontend/icon-font.css">
      <link rel="stylesheet" href="../../static/frontend/base.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151443853-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-151443853-1');
      </script>

      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-P5MPMT8');</script>
      <!-- End Google Tag Manager -->

      <title>FAQ | Mercury Health</title>
  </head>

  <body>
    <nav class="nav">
        <div class="nav__tab" id="nav">
            <div class="nav__logo"><a href="{% url 'index' %}" class="nav__faq--link nav__link">Mercury Health</a></div>
            <div class="nav__navigation">
                <span class="nav__beta"><a href="{% url 'beta' %}" class="nav__beta--link nav__link">beta</a></span>
                <span class="nav__faq"><a href="" class="nav__faq--link nav__link active-text">faq</a></span>
                <span class="nav__contact"><a href="{% url 'index' %}#footer" class="nav__contact--link nav__link">contact us</a></span>
                <span class="nav__signup"><a href="{% url 'index' %}#signup" class="nav__signup--link nav__link">signup</a></span>
                <span class="nav__login"><a href="{% url 'index' %}#login" class="nav__login--link nav__link">login</a></span>
            </div>
        </div>
    </nav>

    <header class="faq">
      <div class="main-head" style="top:30% !important;">
        <h1 class="main-head__content margin-bottom-small">
            <span class="main-head__content--title">Frequently Asked Questions</span>
        </h1>
        <hr class="headerline">
      </div>
    </header>

    <section class="faq_questions">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-bottom:0;">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading1">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                     What does Mercury home detect?
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body">
                <p>Mercury Home can currently detect specific in-home actions to help increase the efficiency of care. We trigger text alerts to caregivers when specific actions are detected. A few applications are: detecting when a person has left their bed and requires night-time aid, and detecting when a person hasn’t moved significantly for unusually long periods.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading3">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  What separates Mercury from other health monitoring technologies?
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
            <div class="panel-body">
                <ul>
                  <li>Wearable-free, wirelessly senses from a distance</li>
                  <li>Mobile device connectivity & text alerts</li>
                  <li>Provide personalized care tailored to your unique living space</li>
                  <li>Highly accurate</li>
                  <li>Multiple detections and functions available based on your specific care needs</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  How safe is my data?
                </a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <div class="panel-body">
                <p>All the data captured by our device is encrypted and anonymized. This process removes any personally identifiable information from the data to ensure complete anonymity. Any data stored in our HIPAA compliant cloud service is available for you to view in your client portal.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading5">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                     What other possible emergencies could Mercury Home detect?
                </a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
            <div class="panel-body">
              <p>Mercury Home can detect falls, lack of movement, irregular patterns of activity, and any other actions based on your specific needs. Please <a href="http://www.mercuryhealth.us/#footer">contact us</a> if you would like a personalized emergency detected.</p>
            </div>
        </div>
    </div>
  </div>
</section>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
