{% extends "./user_base.html" %}

{% block navContent%}
<div class="header2">
  <div class="sidetabs">
    <p class="margin-bottom-medium" style="text-align:center;"><a href="/#" style="font-size: 1.75rem; text-decoration:none; color:white;">MERCURY HEALTH</a></p>
    <div class="sidetabs__logo">
      <figure class="sidetabs_pic" style="width: 10rem; height: 10rem;">
        <img src="../../static/img/gradient.jpg" height="100%">
      </figure>
      <p class="margin-top-small margin-bottom-small" style="text-align:center; letter-spacing: 0.5rem; font-size: 1.5rem;">
        <b>WELCOME</b>
      </p>
    </div>
    <div id="sidetabs" class="margin-top-small">
      <a id="dashboard" href="#" class="sidetabs__link sidetabs__link_active"><i class="fas fa-home"></i>&nbsp&nbspDashboard</a>

      <a id="activitylog" href="#" class="sidetabs__link"><i class="fas fa-chart-line"></i>&nbsp&nbspActivity Log</a>

      <a id="emergency_contact" href="#" class="sidetabs__link"><i class="far fa-address-book"></i>&nbsp&nbspEmergency Contacts</a>

      <!--<a id="settings" href="#settings" class="sidetabs__link"><i class="fas fa-cog"></i>&nbsp&nbspSettings</a>-->

      <a href="/logout" class="sidetabs__link"><i class="fas fa-sign-out-alt"></i>&nbsp&nbspLogout</a>
    </div>
  </div>

  <nav class="navbar navbar-expand-sm navbar-light">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Dashboard</a>
        <a class="nav-item nav-link" href="#">Activity Log</a>
        <a class="nav-item nav-link" href="#">Emergency Contacts</a>
        <!--<a class="nav-item nav-link" href="#">Settings</a>-->
        <a class="nav-item nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </nav>

  <div class="header2__content">
    <div class="container" id="activity_log">
      <h3 id="activity_title">RECENT ACTIVITY</h3>
      <div class="header2__content--activitylog">
        <div id="chartdiv"></div>
      </div>
      <a class="activity_link" href="#">View Full Activity Log</a>
    </div>

    <div class="limiter container">
      <h3 id="activity_title" class="margin-top-small">ALL ACTIVITY</h3>
  		<div class="container-table100">
  			<div class="wrap-table100">
  				<div class="table100">
  					<table>
  						<thead>
  							<tr class="table100-head">
  								<th class="column1">Date/Time</th>
  								<th class="column3">Activity</th>
  							</tr>
  						</thead>
  						<tbody id="all_data">
  						</tbody>
  					</table>
  				</div>
  			</div>
  		</div>
  	</div>

    <div class="container">
      <div class="row" style="width: 100%; margin:auto;">
        <div class="col-md  margin-top-small" id="emergencycontact">
          <h3>EMERGENCY CONTACTS</h3>

            <form action="/user_page/" class="form" method="post">

              <div class="header2__content--emergencycontact">
                <p>Looks like you don't have any <b>emergency contacts</b>!</p>
                <input type="button" value="ADD CONTACT" class="btn--input btn--green addContact" />
              </div>

              {% csrf_token %}
              <div class="header2__form">
                <div>
                    <!--<span class="header2__contact--text">Name</span>-->
                  <input type="text" name="Name" value='{{name}}' class="form__input_u form__input--emergency contactInput" placeholder="Full Name" id="name" required >
                </div>
                <div class="header2__input">
                  <!--<span class="header2__contact--text">Phone Number</span>-->
                  <input type="text" name="Relationship" value='{{relationship}}' class="form__input_u form__input--emergency contactInput" placeholder="Relationship" id="relationship" required >
                </div>
                <div class="header2__input">
                <!--<span class="header2__contact--text">Phone Number</span>-->
                  <input type="text" name="Number" value='{{number}}' maxlength="12" class="form__input_u form__input--emergency contactInput" placeholder="xxx-xxx-xxxx"id="phone-number" required >
                </div>
                <input type="button" value="CANCEL" class="btn--input cancelContacts btn--red margin-top-small"/>
                <input type="submit" value="SUBMIT" class="btn--input submitContacts btn--green margin-top-small"/>
              </div>

              <div class="header2__form" id="contact2">
                <div>
                    <!--<span class="header2__contact--text">Name</span>-->
                  <input type="text" name="Name2" value='{{name2}}' class="form__input_u form__input--emergency contactInput" placeholder="Full Name" id="name" required >
                </div>
                <div class="header2__input">
                  <!--<span class="header2__contact--text">Phone Number</span>-->
                  <input type="text" name="Relationship2" value='{{relationship2}}' class="form__input_u form__input--emergency contactInput" placeholder="Relationship" id="relationship" required >
                </div>
                <div class="header2__input">
                <!--<span class="header2__contact--text">Phone Number</span>-->
                  <input type="text" name="Number2" value='{{number2}}' maxlength="12" class="form__input_u form__input--emergency contactInput" placeholder="xxx-xxx-xxxx"id="phone-number" required >
                </div>
                <input type="button" value="CANCEL" class="btn--input cancelContacts btn--red margin-top-small"/>
                <input type="submit" value="SUBMIT" class="btn--input submitContacts btn--green margin-top-small"/>
              </div>

              <div class="header2__form" id="contact3">
                <div>
                    <!--<span class="header2__contact--text">Name</span>-->
                  <input type="text" name="Name3" value='{{name3}}' class="form__input_u form__input--emergency contactInput" placeholder="Full Name" id="name" required >
                </div>
                <div class="header2__input">
                  <!--<span class="header2__contact--text">Phone Number</span>-->
                  <input type="text" name="Relationship3" value='{{relationship3}}' class="form__input_u form__input--emergency contactInput" placeholder="Relationship" id="relationship" required >
                </div>
                <div class="header2__input">
                <!--<span class="header2__contact--text">Phone Number</span>-->
                  <input type="text" name="Number3" value='{{number3}}' maxlength="12" class="form__input_u form__input--emergency contactInput" placeholder="xxx-xxx-xxxx"id="phone-number" required >
                </div>
                <input type="button" value="CANCEL" class="btn--input cancelContacts btn--red margin-top-small"/>
                <input type="submit" value="SUBMIT" class="btn--input submitContacts btn--green margin-top-small"/>
              </div>

              <div class="header2__form" id="contact4">
                <div>
                    <!--<span class="header2__contact--text">Name</span>-->
                  <input type="text" name="Name4" value='{{name4}}' class="form__input_u form__input--emergency contactInput" placeholder="Full Name" id="name" required >
                </div>
                <div class="header2__input">
                  <!--<span class="header2__contact--text">Phone Number</span>-->
                  <input type="text" name="Relationship4" value='{{relationship4}}' class="form__input_u form__input--emergency contactInput" placeholder="Relationship" id="relationship" required >
                </div>
                <div class="header2__input">
                <!--<span class="header2__contact--text">Phone Number</span>-->
                  <input type="text" name="Number4" value='{{number4}}' maxlength="12" class="form__input_u form__input--emergency contactInput" placeholder="xxx-xxx-xxxx"id="phone-number" required >
                </div>
                <input type="button" value="CANCEL" class="btn--input cancelContacts btn--red margin-top-small"/>
                <input type="submit" value="SUBMIT" class="btn--input submitContacts btn--green margin-top-small"/>
              </div>

              <div class="header2__form" id="contact5">
                <div>
                    <!--<span class="header2__contact--text">Name</span>-->
                  <input type="text" name="Name5" value='{{name5}}' class="form__input_u form__input--emergency contactInput" placeholder="Full Name" id="name" required >
                </div>
                <div class="header2__input">
                  <!--<span class="header2__contact--text">Phone Number</span>-->
                  <input type="text" name="Relationship5" value='{{relationship5}}' class="form__input_u form__input--emergency contactInput" placeholder="Relationship" id="relationship" required >
                </div>
                <div class="header2__input">
                <!--<span class="header2__contact--text">Phone Number</span>-->
                  <input type="text" name="Number5" value='{{number5}}' maxlength="12" class="form__input_u form__input--emergency contactInput" placeholder="xxx-xxx-xxxx"id="phone-number" required >
                </div>
                <input type="button" value="CANCEL" class="btn--input cancelContacts btn--red margin-top-small"/>
                <input type="submit" value="SUBMIT" class="btn--input submitContacts btn--green margin-top-small"/>
              </div>

              <div class="emergency_list"> <hr>
                <ul id="name1"><b>{{name}}</b> ({{relationship}}) <br> {{number}}</ul> <hr>
                <ul id="name2"><b>{{name2}}</b> ({{relationship2}}) <br> {{number2}}</ul> <hr>
                <ul id="name3"><b>{{name3}}</b> ({{relationship3}}) <br> {{number3}}</ul> <hr>
                <ul id="name4"><b>{{name4}}</b> ({{relationship4}}) <br> {{number4}}</ul> <hr>
                <ul id="name5"><b>{{name5}}</b> ({{relationship5}}) <br> {{number5}}</ul> <hr>
                <input type="button" value="ADD CONTACT" class="btn--input btn--green addContact" style="float:right;"/>
              </div>
          </form>
        </div>

        <div class="col-md margin-top-small" id="userprofile">
          <h3>USER PROFILE</h3>
          <div class="header2__content--profile">
            <div class="row">
              <div class="col-4 vertical-align">
                <figure class="profile_pic margin-top-small">
                  <img src="../../static/img/gradient.jpg" height="100%">
                </figure>
              </div>
              <div class="col-8 vertical-align">
                <p style="text-align:left; font-size: 1.5rem;"><b>Full Name:</b>
                <br><b>Email Address:</b> {{email}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        {% endblock %}

        {% block content%}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script type="text/javascript">

    // Display the emergency list if there is at least one emergency contact
    $( document ).ready(function() {

      // Highlight active tab
      $('#sidetabs').on('click','.sidetabs__link', function ( e ) {
        $(this).parents('#sidetabs').find('.sidetabs__link_active').removeClass('sidetabs__link_active').end().end().addClass('sidetabs__link_active');
      });

      if ("{{name1}}" != "not set") {
        $('.header2__content--emergencycontact').css('display', 'none');
        $('.emergency_list').css('opacity', '1');
        $('.emergency_list').css("visibility", "visible");
      } else {
        $('.header2__content--emergencycontact').css('display', 'block');
      }

      // Remove ability to add contact once 5 contacts have been added
      if ("{{name5}}" != "not set") {
        $('.addContact').css('display', 'none');
      }

      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("all_data");
      switching = true;

      while (switching) { //https://www.w3schools.com/howto/howto_js_sort_table.asp
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;

        // Loop through all table rows
        for (i = 0; i < rows.length; i++) {

          shouldSwitch = false;
          // Get the two elements to compare
          x = rows[i].getElementsByTagName("TD")[0];
          y = rows[i + 1].getElementsByTagName("TD")[0];
          // Check if the two rows should switch place:
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }

        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }

    });

    $(".addContact").click(function(){
      $('.header2__content--emergencycontact').css('display', 'none');
      $('.header2__form').css('opacity', '1');
      $('.header2__form').css("visibility", "visible");
      $('.emergency_list').css('opacity', '0');
      $('.emergency_list').css("visibility", "hidden");

      // Toggle contact form based on which emergency contact has been filled out
      if ("{{name1}}" != "not set") {
        $("#contact1").css('display', 'none');
        $('#contact2').css("display", "block");
        $('#contact3').css('display', 'none');
        $('#contact4').css('display', 'none');
        $('#contact5').css('display', 'none');
      }

      if ("{{name2}}" != "not set") {
        $("#contact1").css('display', 'none');
        $('#contact2').css('display', 'none');
        $('#contact3').css('display', 'block');
        $('#contact4').css('display', 'none');
        $('#contact5').css('display', 'none');
      }

      if ("{{name3}}" != "not set") {
        $("#contact1").css('display', 'none');
        $('#contact2').css('display', 'none');
        $('#contact3').css('display', 'none');
        $('#contact4').css('display', 'block');
        $('#contact5').css('display', 'none');
      }

      if ("{{name4}}" != "not set") {
        $("#contact1").css('display', 'none');
        $('#contact2').css('display', 'none');
        $('#contact3').css('display', 'none');
        $('#contact4').css('display', 'none');
        $('#contact5').css('display', 'block');
      }
    });

    $(".submitContacts").click(function(){
        //$(".submitContacts").prop("type", "submit");
        $(".header2__form").css('opacity', '0');
        $('.header2__form').css("visibility", "hidden");
        $('.emergency_list').css('opacity', '1');
        $('.emergency_list').css("visibility", "visible");
    });

    $(".cancelContacts").click(function(){
      $('.header2__form').css('opacity', '0');
      $('.header2__form').css("visibility", "hidden");
      $('.header2__content--emergencycontact').css('display', 'block');
    });

    // Activity Log Sidetab
    $("#activitylog, .activity_link").click(function() {

      $("#activity_log").css('display','block');

      $('#emergencycontact, #userprofile').css('display', 'none');
      $('.activity_link').css('visibility', 'hidden');

      $('.limiter').css('display', 'block');

      document.getElementById("activity_title").innerHTML = "ACTIVITY LOG";
    });

    // Emergency Contact Sidetab
    $("#emergency_contact").click(function() {
      if( $("#emergencycontact").css('display') == 'none') {
        $("#emergencycontact").css('display', 'block');
      }

      $('#userprofile').css('display', 'none');
      $('#activity_log').css('display', 'none');
      $('.limiter').css('display', 'none');
    });

    // Dashboard Sidetab
    $('#dashboard').click(function() {
      $('#userprofile').css('display', 'block');
      $('#activity_log').css('display', 'block');
      $("#emergencycontact").css('display', 'block');
      $('.limiter').css('display', 'none');

      document.getElementById("activity_title").innerHTML = "RECENT ACTIVITY";
      $('.activity_link').css('visibility', 'visible');

    });


    // Populating Graph and Table
    am4core.ready(function() {
      // Themes begin
      am4core.useTheme(am4themes_dataviz);
      am4core.useTheme(am4themes_animated);
      // Themes end

      // Create chart instance
      var chart = am4core.create("chartdiv", am4charts.XYChart);

      // Add data
      chart.data = [];

      var table = document.getElementById("all_data");
      var i;

      /*
      var decodeHtmlEntity = function(str) {
        return str.replace(/&#(\d+);/g, function(match, dec) {
          return String.fromCharCode(dec);
        });
      };

      var userdata = decodeHtmlEntity("{{user_analytcs}}");
      */
      var userdata = [['5', '2019-06-28 22:42:34.898128'], ['5', '2019-06-28 22:43:16.541722'], ['5', '2019-06-29 22:43:27.501661'], ['5', '2019-06-30 22:43:28.981654'], ['5', '2019-06-28 22:43:30.121084'], ['5', '2019-06-29 22:43:31.881059'], ['5', '2019-06-30 22:43:33.117917']];

      // Iterate through all data
      for (i = 0; i < userdata.length; i++) {

        // Separate the date and time from the string
        var dataDate = userdata[i][1].split(' ')[0];
        var dataTime = userdata[i][1].split(' ')[1];
        var dataTime_s = dataTime.substring(0,8);

        // Insert activity data into the history log
        var row = table.insertRow(0);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell1.className = 'column1';
        cell2.className = 'column3';
        cell1.innerHTML = dataDate + " " + dataTime_s;
        cell2.innerHTML = 1;

        // Check if the date has been pushed into chart data already
        const found = chart.data.some(el => el.date == dataDate); //https://stackoverflow.com/questions/22844560/check-if-object-value-exists-within-a-javascript-array-of-objects-and-if-not-add/22844712

        // If the date doesn't exist, push it.
        if (!found) {
          chart.data.push({"date": dataDate, "value": 1});

        //Otherwise, increment the value for the appropriate date
        } else {
          var index = chart.data.map(function(o) { return o.date; }).indexOf(dataDate); //https://stackoverflow.com/questions/11258077/how-to-find-index-of-an-object-by-key-and-value-in-an-javascript-array
          chart.data[index]['value']++;

          /*
          for (var j = 0; j < table.rows.length; j++) {
            var table_date = table.rows[j].cells[0].innerHTML.substring(0,10);

            // Increment counter for same date in table
            if (table_date == dataDate) {
              var count = parseInt(table.rows[j].cells[1].innerHTML,10) + 1;
              table.rows[j].cells[1].innerHTML = count;
            }

          }*/
        }
      }

      // Set input format for the dates
      chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";

      // Create axes
      var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
      var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

      // Create series
      var series = chart.series.push(new am4charts.LineSeries());
      series.dataFields.valueY = "value";
      series.dataFields.dateX = "date";
      series.tooltipText = "{value}"
      series.strokeWidth = 2;
      series.minBulletDistance = 15;

      // Drop-shaped tooltips
      series.tooltip.background.cornerRadius = 20;
      series.tooltip.background.strokeOpacity = 0;
      series.tooltip.pointerOrientation = "vertical";
      series.tooltip.label.minWidth = 40;
      series.tooltip.label.minHeight = 40;
      series.tooltip.label.textAlign = "middle";
      series.tooltip.label.textValign = "middle";

      // Make bullets grow on hover
      var bullet = series.bullets.push(new am4charts.CircleBullet());
      bullet.circle.strokeWidth = 2;
      bullet.circle.radius = 4;
      bullet.circle.fill = am4core.color("#fff");

      var bullethover = bullet.states.create("hover");
      bullethover.properties.scale = 1.3;

      // Make a panning cursor
      chart.cursor = new am4charts.XYCursor();
      chart.cursor.behavior = "panXY";
      chart.cursor.xAxis = dateAxis;
      chart.cursor.snapToSeries = series;

      // Create vertical scrollbar and place it before the value axis
      chart.scrollbarY = new am4core.Scrollbar();
      chart.scrollbarY.parent = chart.leftAxesContainer;
      chart.scrollbarY.toBack();

      // Create a horizontal scrollbar with previe and place it underneath the date axis
      chart.scrollbarX = new am4charts.XYChartScrollbar();
      chart.scrollbarX.series.push(series);
      chart.scrollbarX.parent = chart.bottomAxesContainer;

      chart.events.on("ready", function () {
        dateAxis.zoom({start:0.79, end:1});
      });

    }); // end am4core.ready()

  </script>

{% endblock %}
