{% extends "./user_base.html" %}

{% block navContent%}
<div class="header2">
  <div class="sidetabs">
    <p class="margin-bottom-medium" style="text-align:center;">MERCURY HEALTH</p>
    <div class="sidetabs__logo">
      <figure class="sidetabs_pic" style="width: 10rem; height: 10rem;">
        <img src="./frontend/static/img/gradient.jpg" height="100%">
      </figure>
      <p class="margin-top-small margin-bottom-small" style="text-align:center; letter-spacing: 0.5rem;">
        <b>WELCOME<br>XXX</b>
      </p>
    </div>
    <div id="sidetabs" class="sidetabs__contents margin-top-small">
      <a id="dashboard" href="#" class="sidetabs__link"><i class="fas fa-home"></i>&nbsp&nbspDashboard</a>

      <a id="activitylog" href="#" class="sidetabs__link"><i class="fas fa-chart-line"></i>&nbsp&nbspActivity Log</a>

      <a id="emergency_contact" href="#" class="sidetabs__link"><i class="far fa-address-book"></i>&nbsp&nbspEmergency Contacts</a>

      <!--<a id="settings" href="#settings" class="sidetabs__link"><i class="fas fa-cog"></i>&nbsp&nbspSettings</a>-->

      <a href="/logout" class="sidetabs__link"><i class="fas fa-sign-out-alt"></i>&nbsp&nbspLogout</a>
    </div>
  </div>

  <nav class="navbar navbar-expand-sm navbar-light">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Dashboard</a>
        <a class="nav-item nav-link" href="#">Activity Log</a>
        <a class="nav-item nav-link" href="#">Emergency Contacts</a>
        <!--<a class="nav-item nav-link" href="#">Settings</a>-->
        <a class="nav-item nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </nav>

  <div class="header2__content">
    <div class="container" id="activity_log">
      <h3 id="activity_title" style="color: #666666;">RECENT ACTIVITY</h3>
      <div class="header2__content--activitylog">
        <div id="chartdiv" style="width:100%"></div>
      </div>
      <a class="activity_link" href="#">View Full Activity Log</a>
    </div>

    <div class="container">
      <div class="row" style="width: 100%; margin:auto;">
        <div class="col-md  margin-top-small" id="emergencycontact">
          <h3 style="color: #666666;">EMERGENCY CONTACTS</h3>

            <form action="/user_page/" class="form" method="post">

              <div class="header2__content--emergencycontact">
                <p>Looks like you don't have any <b>emergency contacts</b>!</p>
                <input type="button" value="ADD CONTACT" class="btn--input btn--green addContact" />
              </div>

              <div class="header2__form">
                <div>
                    <!--<span class="header2__contact--text">Name</span>-->
                  <input type="text" name="Name" value='{{name}}' class="form__input_u form__input--emergency contactInput" placeholder="Full Name" id="name" required disabled>
                </div>
                <div class="header2__input">
                  <!--<span class="header2__contact--text">Phone Number</span>-->
                  <input type="text" name="Relationship" value='{{relationship}}' class="form__input_u form__input--emergency contactInput" placeholder="Relationship"id="relationship" required disabled>
                </div>
                <div class="header2__input">
                <!--<span class="header2__contact--text">Phone Number</span>-->
                  <input type="text" name="Number" value='{{number}}' maxlength="12" class="form__input_u form__input--emergency contactInput" placeholder="xxx-xxx-xxxx"id="phone-number" required disabled>
                </div>
                <input type="button" value="CANCEL" class="btn--input cancelContacts btn--red margin-top-small"/>
                <input type="button" value="SUBMIT" class="btn--input submitContacts btn--green margin-top-small"/>
              </div>

              <div class="emergency_list"> <hr>
                <ul>NAME (relationship)<br> phone number</ul> <hr>
                <ul>NAME (relationship)<br> phone number</ul> <hr>
                <ul>NAME (relationship)<br> phone number</ul> <hr>
                <input type="button" value="ADD CONTACT" class="btn--input btn--green addContact" style="float:right;"/>
              </div>
          </form>
        </div>

        <div class="col-md margin-top-small" id="userprofile">
          <h3 style="color: #666666;">USER PROFILE</h3>
          <div class="header2__content--profile">
            <div class="row">
              <div class="col-4 vertical-align">
                <figure class="profile_pic margin-top-small">
                  <img src="./frontend/static/img/gradient.jpg" height="100%">
                </figure>
              </div>
              <div class="col-8 vertical-align">
                <p style="color:black; text-align:left; color: #666666;">  Full Name:
                <br> D.O.B: XX/XX/XXXX
                <br> Address:
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        {% endblock %}

        {% block content%}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script type="text/javascript">

    $(".addContact").click(function(){
      $('.header2__content--emergencycontact').css('display', 'none');
      $('.header2__form').css('opacity', '1');
      $('.header2__form').css("visibility", "visible");
      $('.emergency_list').css('opacity', '0');
      $('.emergency_list').css("visibility", "hidden");
    });

    /*
    $(".editButtonContacts").click(function(){
      if ($(".editButtonContacts").attr("value") == "submit"){
        $(".editButtonContacts").prop("type", "submit");
      } else{
        $(".contactInput").prop("disabled", false);
        $(".editButtonContacts").prop("value", "submit");
      }
     });
    */

    $(".submitContacts").click(function(){
        //$(".submitContacts").prop("type", "submit");
        $(".header2__form").css('opacity', '0');
        $('.header2__form').css("visibility", "hidden");
        $('.emergency_list').css('opacity', '1');
        $('.emergency_list').css("visibility", "visible");
    });

    $(".cancelContacts").click(function(){
      $('.header2__form').css('opacity', '0');
      $('.header2__form').css("visibility", "hidden");
      $('.header2__content--emergencycontact').css('display', 'block');
    });

    $(function() {
      $('#sidetabs').on('click','.sidetabs__link', function ( e ) {
        $(this).parents('#sidetabs').find('.sidetabs__link_active').removeClass('sidetabs__link_active').end().end().addClass('sidetabs__link_active');
      });
    });

    $("#activitylog, .activity_link").click(function() {

      $("#activity_log").css('display','block');

      $('#emergencycontact, #userprofile').css('display', 'none');
      $('.activity_link').css('visibility', 'hidden');
      $('.header2__content').css('position', 'initial');
      $('.header2__content').css('margin-left', '28rem');

      document.getElementById("activity_title").innerHTML = "ACTIVITY LOG";
    });

    $("#emergency_contact").click(function() {
      if( $("#emergencycontact").css('display') == 'none') {
        $("#emergencycontact").css('display', 'block');
      }

      $('#userprofile').css('display', 'none');
      $('#activity_log').css('display', 'none');

    });

    $('#dashboard').click(function() {
      $('#userprofile').css('display', 'block');
      $('#activity_log').css('display', 'block');
      $("#emergencycontact").css('display', 'block');

      document.getElementById("activity_title").innerHTML = "RECENT ACTIVITY";
      $('.activity_link').css('visibility', 'visible');

    });

      am4core.ready(function() {
        // Themes begin
        am4core.useTheme(am4themes_dataviz);
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chartdiv", am4charts.XYChart);

        // Add data
        chart.data = [{
          "date": "2013-01-01",
          "value": 60
        }, {
          "date": "2013-01-02",
          "value": 67
        }, {
          "date": "2013-01-03",
          "value": 64
        }, {
          "date": "2013-01-04",
          "value": 66
        }, {
          "date": "2013-01-05",
          "value": 60
        }, {
          "date": "2013-01-06",
          "value": 63
        }, {
          "date": "2013-01-07",
          "value": 61
        }, {
          "date": "2013-01-08",
          "value": 60
        }, {
          "date": "2013-01-09",
          "value": 65
        }, {
          "date": "2013-01-10",
          "value": 75
        }, {
          "date": "2013-01-11",
          "value": 77
        }, {
          "date": "2013-01-12",
          "value": 78
        }, {
          "date": "2013-01-13",
          "value": 70
        }, {
          "date": "2013-01-14",
          "value": 70
        }, {
          "date": "2013-01-15",
          "value": 73
        }, {
          "date": "2013-01-16",
          "value": 71
        }, {
          "date": "2013-01-17",
          "value": 74
        }, {
          "date": "2013-01-18",
          "value": 78
        }, {
          "date": "2013-01-19",
          "value": 85
        }, {
          "date": "2013-01-20",
          "value": 82
        }, {
          "date": "2013-01-21",
          "value": 83
        }, {
          "date": "2013-01-22",
          "value": 88
        }, {
          "date": "2013-01-23",
          "value": 85
        }, {
          "date": "2013-01-24",
          "value": 85
        }, {
          "date": "2013-01-25",
          "value": 80
        }, {
          "date": "2013-01-26",
          "value": 87
        }, {
          "date": "2013-01-27",
          "value": 84
        }, {
          "date": "2013-01-28",
          "value": 83
        }, {
          "date": "2013-01-29",
          "value": 84
        }, {
          "date": "2013-01-30",
          "value": 81
        }];

        // Set input format for the dates
        chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";

        // Create axes
        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

        // Create series
        var series = chart.series.push(new am4charts.LineSeries());
        series.dataFields.valueY = "value";
        series.dataFields.dateX = "date";
        series.tooltipText = "{value}"
        series.strokeWidth = 2;
        series.minBulletDistance = 15;

        // Drop-shaped tooltips
        series.tooltip.background.cornerRadius = 20;
        series.tooltip.background.strokeOpacity = 0;
        series.tooltip.pointerOrientation = "vertical";
        series.tooltip.label.minWidth = 40;
        series.tooltip.label.minHeight = 40;
        series.tooltip.label.textAlign = "middle";
        series.tooltip.label.textValign = "middle";

        // Make bullets grow on hover
        var bullet = series.bullets.push(new am4charts.CircleBullet());
        bullet.circle.strokeWidth = 2;
        bullet.circle.radius = 4;
        bullet.circle.fill = am4core.color("#fff");

        var bullethover = bullet.states.create("hover");
        bullethover.properties.scale = 1.3;

        // Make a panning cursor
        chart.cursor = new am4charts.XYCursor();
        chart.cursor.behavior = "panXY";
        chart.cursor.xAxis = dateAxis;
        chart.cursor.snapToSeries = series;

        // Create vertical scrollbar and place it before the value axis
        chart.scrollbarY = new am4core.Scrollbar();
        chart.scrollbarY.parent = chart.leftAxesContainer;
        chart.scrollbarY.toBack();

        // Create a horizontal scrollbar with previe and place it underneath the date axis
        chart.scrollbarX = new am4charts.XYChartScrollbar();
        chart.scrollbarX.series.push(series);
        chart.scrollbarX.parent = chart.bottomAxesContainer;

        chart.events.on("ready", function () {
          dateAxis.zoom({start:0.79, end:1});
        });

      }); // end am4core.ready()

  </script>

{% endblock %}
